 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('images/Castracion.jpeg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 739px;
}

.u-section-1 .u-shape-1 {
  height: 340px;
  width: 351px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 20px;
  margin: 163px 0 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 358px;
  width: 510px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 20px;
  margin: -285px 60px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-1 .u-text-1 {
  margin: 109px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 66.76% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 120px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 28.17% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-1 .u-shape-1 {
    height: 302px;
    width: 302px;
    margin-top: 328px;
  }

  .u-section-1 .u-group-1 {
    min-height: 329px;
    width: 306px;
    margin-top: -247px;
    margin-right: 30px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 27.62% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-1 .u-shape-1 {
    height: 326px;
    margin-top: 420px;
  }

  .u-section-1 .u-group-1 {
    min-height: 291px;
    width: 285px;
    margin: -265px auto 44px 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 610px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 36px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 574px;
  pointer-events: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/castracionsunchales.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 574px;
  pointer-events: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 4.5rem;
  margin: 17px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 2px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 32px auto 0;
  padding: 15px 46px 15px 45px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-2 .u-image-1 {
    min-height: 487px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 473px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.125rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 985px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -2px;
  }

  .u-section-2 .u-image-1 {
    min-height: 592px;
    order: 1;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
    order: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-2 .u-image-1 {
    min-height: 543px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-2 .u-image-1 {
    min-height: 393px;
  }
}